@use "reset";
@use "variables" as *;
@use "function" as *;
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Notable&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* 頁首 */

#topBar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 45px 70px 0 70px;
    font-family: $font-family-en;
    font-size: $font-size-16;
    font-weight: $font-weight-bold;

    .logo{
        min-width: 164px;
    }
    .navigation{

        display: flex;
        
        .menu{
            display: flex;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.8);
            border: 2.5px rgba(0, 0, 0, 0.8) solid;
            border-radius: 30px;
            padding: 0 20px 0 20px;

            a {
                margin: 0px;
                padding:0px 20px 0px 20px;
                transition: $speed-fast;

                &:hover{
                    color: $color-primary-blue;
                }
            }
        }
        .funLab{
            margin-left: 20px;
            width: 145px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2.5px rgba(0, 0, 0, 0.8) solid;
            border-radius: 30px;
            background-color: $color-sub-yellow;

            img{
                width: 43px;
            }
        } 
    }
}

.subNavigation{

    position: fixed;
    top: 25%;
    left: 50px;

    display: flex;
    width: 130px;
    img{
        width: 43px;
        margin-right: 8px;
    }
    .subMenu{
        padding-top: 45px;
        a{
            position: relative;
            width: fit-content;
            margin-bottom: 44px;
            font-family: $font-family-en;
            font-size: 0.75rem;
            font-weight: 900;
            font-style: italic;
        }
        a::after{
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0%; /* 初始寬度為 0 */
            height: 2px;
            background-color: #000;
            transition: width 0.2s ease; /* 添加過渡效果 */
        }
        a:hover::after {
            width: 100%; /* 當滑鼠移到標題時，底線展開至全寬 */
        }
        
    }

}

/* 頁尾區 */

#footer{
    display: flex; /* 主軸方向:水平 */
    justify-content: space-between;
    align-items: flex-end;
    padding: 25px 70px;
    background-color: $color-primary-blue;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    font-family: $font-family-ch;
    font-size: $font-size-16;
    font-weight: 600;
    color: $color-primary-white;
    letter-spacing: 0.05rem;
    .logoFooter{
        .logoFooterImg{
            width: 80px;
            padding: 5px 0px;
        }
        .logoFooterText{
            width: 200px;
            padding-bottom: 15px;
        }
    }
    .articleFooter{
        li{
            margin-bottom: 15px;
            p{
                margin-bottom: 5px;
            }
        }
        .iconFooter{
            display: flex;
            img{
                width: 30px;
                margin-right: 5px;
            }
        }
    }
}

section{
    height: 100vh;
    @extend %box-center;
    flex-direction: column;
}