@use "reset";
@use "variables" as *;
@use "function" as *;
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Notable&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@keyframes goToFunlabAnime {
    100% {
        transform: rotate(360deg);
    }
}

/* 頁首 */
#topBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 70px 0 70px;
    font-family: $font-family-en;
    font-size: $font-size-16;
    font-weight: $font-weight-bold;

    .logo {
        min-width: 164px;
    }

    .navigation {

        display: flex;

        .menu {
            display: flex;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.8);
            border: 2.5px rgba(0, 0, 0, 0.8) solid;
            border-radius: 30px;
            padding: 0 20px 0 20px;

            a {
                position: relative;
                margin: 0px;
                padding: 0px 20px 0px 20px;
                transition: $speed-fast;
            }

            .a_story::after {
                content: "關於放飲";
                position: absolute;
                left: 20%;
                top: 10%;
                width: 100%;
                height: 100%;
                font-size: 0.875rem;
                color: transparent;
                transition: color 0.2s;
            }

            .a_story:hover::after {
                color: $color-sub-black;
            }

            .a_story:hover {
                color: transparent;
            }

            .a_menu::after {
                content: "飲品菜單";
                position: absolute;
                left: 18%;
                top: 10%;
                width: 100%;
                height: 100%;
                font-size: 0.875rem;
                color: transparent;
                transition: color 0.2s;
            }

            .a_menu:hover::after {
                color: $color-sub-black;
            }

            .a_menu:hover {
                color: transparent;
            }

            .a_fresh::after {
                content: "嚴選食材";
                position: absolute;
                left: 20%;
                top: 10%;
                width: 100%;
                height: 100%;
                font-size: 0.875rem;
                color: transparent;
                transition: color 0.2s;
            }

            .a_fresh:hover::after {
                color: $color-sub-black;
            }

            .a_fresh:hover {
                color: transparent;
            }

            .a_store::after {
                content: "門市據點";
                position: absolute;
                left: 20%;
                top: 10%;
                width: 100%;
                height: 100%;
                font-size: 0.875rem;
                color: transparent;
                transition: color 0.2s;
            }

            .a_store:hover::after {
                color: $color-sub-black;
            }

            .a_store:hover {
                color: transparent;
            }

            .a_search::after {
                content: "訂單查詢";
                position: absolute;
                left: 24%;
                top: 10%;
                width: 100%;
                height: 100%;
                font-size: 0.875rem;
                color: transparent;
                transition: color 0.2s;
            }

            .a_search:hover::after {
                color: $color-sub-black;
            }

            .a_search:hover {
                color: transparent;
            }

        }

        .funLab {
            margin-left: 20px;
            width: 145px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2.5px rgba(0, 0, 0, 0.8) solid;
            border-radius: 30px;
            background-color: $color-sub-yellow;
            transition: 0.3s;

            img {
                width: 43px;
            }

            &:hover {
                background-color: $color-primary-white;
                color: $color-sub-yellow;
                text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
            }
        }
    }
}

/*主要內容區*/
/* banner輪播區 */
#banner-wrap {
    .banner {
        display: flex;
        padding-top: 130px;
        height: 100%;
        min-height: 370px;
    }
}

/*菜單區*/
.listbox {
    display: none;
}

.listbox.active {
    display: block;
}

.menu {
    z-index: 999;


    h2 {
        display: flex;
        justify-content: center;
        padding: 40px;
        font-size: $font-size-20;

        img {
            width: 25%;
        }

    }

    /*分組頁籤*/
    .drinkListTab {

        ul {
            display: flex;
            justify-content: center;

            li {
                background-color: #ffffff;
                border: 3px solid $color-sub-lightGray;
                border-radius: 50px;
                font-size: $font-size-22;
                font-weight: bold;
                margin: 0 20px;
                cursor: pointer;

                .tab-btn {
                    font-size: 22px;
                    padding: 10px 20px;
                    background: transparent;
                    transition: 0.5s;

                    &:hover {
                        background-color: #e8e8e8;
                        color: #000;
                        border-radius: 50px;
                    }

                    &.active {
                        font-size: $font-size-22;
                        background-color: $color-primary-blue;
                        border-radius: 50px;
                        color: #ffffff;
                    }
                }
            }
        }
    }


    /*裝飾物件*/
    // #graph-sun-pink {
    //     width: 90px;
    //     position: absolute;
    //     left: 300px;
    //     bottom: -50px;
    //     transform: rotate(30deg);
    // }

    // #graph-line-yellow {
    //     width: 160px;
    //     position: absolute;
    //     top: 1490px;
    //     right: 100px;
    //     transform: rotate(-20deg);
    // }

    // #graph-line-pink {
    //     width: 320px;
    //     position: absolute;
    //     top: 1000px;
    //     left: -40px;
    //     transform: rotate(30deg);
    // }
}


/*分組商品區*/
.productlist {
    min-height: 120vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    /* Add some spacing between items */
    z-index: 995;
    

    .product {
        margin: 40px;
        transition: transform 0.3s ease, opacity 0.3s ease;
        /* Smooth transition */

        &:hover {
            transform: scale(1.08);
            opacity: 0.9;
            /* Reduce opacity for a subtle effect */
        }
    }

    .drinkText {
        position: relative;
        text-align: center;
        transition: transform 0.5s ease, opacity 0.5s ease; /* Transition for scaling and opacity */
    
        &::before {
            content: "";
            position: absolute;
            top: 56%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 50%;
            height: 10px;
            background-color: $color-sub-lightblue; /* Default blue color */
            opacity: 80%;
            z-index: 1;
            transition: background-color 0.5s ease; /* Smooth color transition */
        }
    
        &:hover {
            transform: scale(1.08);
            opacity: 0.9; /* Subtle opacity effect */
            
    
            &::before {
                background-color: $color-sub-pink; /* Change to pink */
            }
        }
    
        h2 {
            position: relative;
            font-weight: 500;
            z-index: 2;
        }
        

        p {
            height: auto;
        }
    }
}



/* 頁尾區 */
#footer {
    display: flex;
    /* 主軸方向:水平 */
    justify-content: space-between;
    align-items: flex-end;
    padding: 25px 70px;
    background-color: $color-primary-blue;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    font-family: $font-family-ch;
    font-size: $font-size-16;
    font-weight: 600;
    color: $color-primary-white;
    letter-spacing: 0.05rem;
    bottom: 0;

    .logoFooter {
        .logoFooterImg {
            width: 80px;
            padding: 5px 0px;
        }

        .logoFooterText {
            width: 200px;
            padding-bottom: 15px;
        }
    }

    .articleFooter {
        li {
            margin-bottom: 15px;

            p {
                margin-bottom: 5px;
            }
        }

        .iconFooter {
            display: flex;

            img {
                width: 30px;
                margin-right: 5px;
            }
        }
    }
}

section {
    height: auto;
    flex-direction: column;
}